body {
  background-image: linear-gradient(
    to right,
    #e8c1c5,
    #e6b9c1,
    #e3b1be,
    #dfa9bb,
    #dba2ba,
    #d599b6,
    #ce90b3
  );
  color: #f0edfe;
  font-family: monospace;
}

h1 {
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 10px;
  padding: 160px 20px 0px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 64px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid #d9b463;
  padding: 15px 30px;
  background-color: #b979ac;
  color: #f0edfe;
}

button:hover {
  color: darkmagenta;
}

a {
  text-decoration: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

img {
  border: 3px solid #d9b463;
  box-shadow: 0px 0px 10px #b979ad;
  border-radius: 2%;
}

.project-description {
  padding: 20px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 72px;
    line-height: 1.5;
    margin-top: -91px;
  }

  h2 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
}
