body {
  background-image: linear-gradient(
    to right,
    #e8c1c5,
    #e6b9c1,
    #e3b1be,
    #dfa9bb,
    #dba2ba,
    #d599b6,
    #ce90b3
  );
  color: #f0edfe;
  font-family: monospace;
}

h1 {
  font-size: 120px;
  text-align: center;
  word-spacing: 30px;
  padding: 160px 20px 0px 20px;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
}

button {
  display: block;
  margin: 0 auto;
  border-radius: 20px;
  border: 3px solid #dab65f;
  padding: 15px 30px;
  background-color: #b979ac;
  color: #f0edfe;
}

button:hover {
  color: black;
}
